body{
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
}

h1{
	font-size: 45px;
}
h2{
	font-size: 30px;
}
h3{
	font-size: 25px;
}

nav {
	background-color: black;
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 80px;
	width: 100%;
}

.name {
	padding-left: 5%;
	padding-right: 8px;
	background-color: white;
	color: black;
	height: 64px;
	display: flex;
	align-items: center;
}

.links {
	margin-right: 6%;
}

.links a {
	text-decoration: none;
	color: white;
	border-bottom: 2px solid white;
	padding-right: 7px;
	padding-left: 7px;
	font-size: 20px;
	margin-left: 2px;
	margin-right: 2px;
}

.header {
	background-image: url('../images/black_and_white_wood.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	width: 100%;
	height: 200px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header h2{
	color: black;
	background-color: white;
	margin-right: 6%;
	padding: 10px;
}

.header img{
	width: 145px;
	height: 145px;
	border-radius: 50%;
	margin-left: calc(5% + 50px);
}

.about-me, .work, .contact-me{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.about-me{
	height: 140px;
}
.work{
	height: 860px;
}
.contact-me{
	height: 110px;
}

.about-me-title, .work-title, .contact-me-title{
	border-right: 4px solid black;
	height: 80%;
	flex: 1 0 0;
	display: flex;
	justify-content: right;
	align-items: flex-start;
}
.work-title{
	height: 99%;
}

.about-me-title h1, .work-title h1, .contact-me-title h1{
	color: black;
	padding-right: 15px;
	text-align: right;
	margin: 0;
}

.about-me-paragraphs, .work-projects, .contact-me ul{
	flex: 4 0 0px;
	padding-left: 40px;
	padding-right: 40px;
}
.about-me-paragraphs{
	text-indent: 20px;
}

.contact-me ul{
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	list-style-type: none;
}

.contact-me ul li a, .contact-me ul li p{
	text-decoration: none;
	border-bottom: 2px solid black;
	padding-right: 7px;
	padding-left: 7px;
	font-size: 20px;
	margin-left: 2px;
	margin-right: 2px;
	color: black;
}

.secondary-projects {
	display: flex;
	flex-wrap: wrap;
}

/*Projects*/
.surf{
	background-image: url('../images/surf.jpeg');
}
.surf::after{
	background-color: rgba(255, 255, 255, 1);
	width: 100px;
	height: 100px;
}
.led-wall{
	background-image: url('../images/led_wall_background.jpeg');
}
.calculator{
	background-image: url('../images/calculator_background.jpeg');
}
.null-programming-language{
	background-image: url('../images/programming_language_background.jpeg');
}
.john-sheehy-company-website{
	background-image: url('../images/farm_land_image.webp');
}

.surf,
.led-wall,
.calculator,
.null-programming-language,
.john-sheehy-company-website{
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	height: 200px;
	width: calc(50% - 20px);
	color: white;
	outline: 4px solid black;
	display: flex;
	justify-content: flex-start;
	align-items: flex-end;
	margin: 10px;
}

.surf{
	height: 400px;
	width: calc(100% - 20px);
}

.surf-text, 
.led-wall-text, 
.calculator-text, 
.null-programming-language-text, 
.john-sheehy-company-website-text{
	background-color: black;
	display: inline-block;
	margin-bottom: 25px;
	padding: 8px;
}

.surf-text h3, 
.led-wall-text h3, 
.calculator-text h3, 
.null-programming-language-text h3, 
.john-sheehy-company-website-text h3{
	text-align: left;
	margin: 0;
}

.surf-text p, 
.led-wall-text p, 
.calculator-text p, 
.null-programming-language-text p,
.john-sheehy-company-website-text p{
	margin: 0;
}

