body{
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
}

h1{
	font-size: 45px;
}
h2{
	font-size: 30px;
}
h3{
	font-size: 25px;
}

nav {
	background-color: black;
	display: flex;
	align-items: center;/*puts content vertically in the center*/
	justify-content: space-between;/*Separates the name and the links*/
	height: 80px;
	width: 100%;
}

.name {
	padding-left: 5%;
	padding-right: 8px;
	background-color: white;
	color: black;
	height: 64px;
	display: flex;
	align-items: center;/*Puts the text vertically in the center of the name div*/
}

.links {
	margin-right: 6%;
}

.links a {
	text-decoration: none;/*Removes default underline*/
	color: white;
	border-bottom: 2px solid white;
	padding-right: 7px;/*increase size of the bottom border*/
	padding-left: 7px;
	font-size: 20px;
	margin-left: 2px;/*Space between each of the links*/
	margin-right: 2px;
}

.header {
	background-image: url('../images/black_and_white_wood.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	width: 100%;
	height: 200px;
	display: flex;
	align-items: center;
	justify-content: space-between;/*Has space between the profile pic and the Secondary title*/
}

.header h2{
	color: black;
	background-color: white;
	margin-right: 6%;
	padding: 10px;
}

.header img{
	width: 145px;/*Make profile pic a square*/
	height: 145px;
	border-radius: 50%;/*Make profile pic a circle*/
	margin-left: calc(5% + 50px);/*Centers the profile pic under the name*/
}

.about-me, .work, .contact-me{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
/*Heights need to be specified in order to allow percentages for children*/
.about-me{
	height: 140px;
}
.work{
	height: 860px;
}
.contact-me{
	height: 110px;
}

.about-me-title, .work-title, .contact-me-title{
	border-right: 4px solid black;
	height: 80%;
	flex: 1 0 0;/*1/5th of the horizontal space*/
	display: flex;
	justify-content: right;
	align-items: flex-start;
}
.work-title{
	height: 99%;
}

.about-me-title h1, .work-title h1, .contact-me-title h1{
	color: black;
	padding-right: 15px;/*Spacing on the right of the title texts*/
	text-align: right;
	margin: 0;
}

.about-me-paragraphs, .work-projects, .contact-me ul{
	flex: 4 0 0px;/*The main content is 4/5ths of the horizontal space*/
	padding-left: 40px;/*Adds space to the left and right of the main content*/
	padding-right: 40px;
}
.about-me-paragraphs{
	text-indent: 20px;/*Indentation for the text paragraphs*/
}

.contact-me ul{
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	list-style-type: none;/*Removes the bullet points*/
}

.contact-me ul li a, .contact-me ul li p{
	text-decoration: none;
	border-bottom: 2px solid black;
	padding-right: 7px;/*Increase length of the border bottom*/
	padding-left: 7px;
	font-size: 20px;
	margin-left: 2px;/*Spacing between the list items*/
	margin-right: 2px;
	color: black;
}

.secondary-projects {
	display: flex;
	flex-wrap: wrap;
}

/*Projects*/
.surf{
	background-image: url('../images/surf.jpeg');
}
.led-wall{
	background-image: url('../images/led_wall_background.jpeg');
}
.calculator{
	background-image: url('../images/calculator_background.jpeg');
}
.null-programming-language{
	background-image: url('../images/programming_language_background.jpeg');
}
.cheat-sheets{
	background-image: url('../images/cheatsheet.jpeg');
}

.surf,
.led-wall,
.calculator,
.null-programming-language,
.cheat-sheets{
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	height: 200px;
	width: calc(50% - 20px);/*Ensure things fit on 1 line*/
	color: white;
	outline: 4px solid black;
	display: flex;
	justify-content: flex-start;
	align-items: flex-end;
	margin: 10px;
	position: relative;
}

.surf{
	height: 400px;
	width: calc(100% - 20px);/*Make sure the main project matches the width of the other projects*/
}

/*Adds white shading*/
.surf::after,
.led-wall::after,
.calculator::after,
.null-programming-language::after,
.cheat-sheets::after{
	background-color: rgba(255, 255, 255, 0.5);
	transition: background-color 0.2s ease-in-out;
	position: absolute;
	top: 0;
	left: 0;
	content: "";
	width: 100%;
	height: 100%;
}
/* Removes white shading on hover*/
.surf:hover::after,
.led-wall:hover::after,
.calculator:hover::after,
.null-programming-language:hover::after,
.cheat-sheets:hover::after{
	background-color: rgba(255, 255, 255, 0);
}

.surf-text, 
.led-wall-text, 
.calculator-text, 
.null-programming-language-text, 
.cheat-sheets-text{
	background-color: black;
	display: inline-block;
	margin-bottom: 25px;
	padding: 8px;
	z-index: 1;
}

.surf-text h3, 
.led-wall-text h3, 
.calculator-text h3, 
.null-programming-language-text h3, 
.cheat-sheets-text h3{
	text-align: left;
	margin: 0;
}

.surf-text p, 
.led-wall-text p, 
.calculator-text p, 
.null-programming-language-text p,
.cheat-sheets-text p{
	margin: 0;
}

@media screen and (width < 1031px){
	h1{
		font-size: 30px;
	}
	h3{
		font-size: 17px;
	}
}

@media screen and (width < 931px){
	.about-me-title, .work-title, .contact-me-title{
		display: none;
	}
}

@media screen and (width < 757px){
	.about-me{
		height: 160px;
	}
}

@media screen and (width < 669px){
	.about-me{
		height: 180px;
	}
	.links{
		margin-right: 3%;
	}
	.links a {
		font-size: 15px;
	}
	.contact-me ul li a, .contact-me ul li p{
		font-size: 15px;
	}
}

@media screen and (width < 619px){
	h3{
		font-size: 14px;
	}
	.about-me{
		height: 200px;
	}
	.surf-text p, 
	.led-wall-text p, 
	.calculator-text p, 
	.null-programming-language-text p,
	.cheat-sheets-text p{
		font-size: 12px;
	}
	.header img, .header h2{
		margin: 15px;
	}
}

@media screen and (width < 561px){
	.links{
		margin-right: 1%;
	}
	.links a {
		font-size: 12px;
	}
	h3{
		font-size: 12px;
	}
	.contact-me ul li a, .contact-me ul li p{
		font-size: 12px;
	}
	.surf-text p, 
	.led-wall-text p, 
	.calculator-text p, 
	.null-programming-language-text p,
	.cheat-sheets-text p{
		font-size: 10px;
	}
}

@media screen and (width < 523px){
		h2{
			font-size: 20px;
		}
		.about-me{
			height: 230px;
		}
}

@media screen and (width < 499px){
	.links a {
		font-size: 8px;
	}
	h3{
		font-size: 8px;
	}
	.contact-me ul li a, .contact-me ul li p{
		font-size: 8px;
	}
	.surf-text p, 
	.led-wall-text p, 
	.calculator-text p, 
	.null-programming-language-text p,
	.cheat-sheets-text p{
		font-size: 6px;
	}
	.about-me{
		height: 260px;
	}
}
